@import "reset";
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

* {
  box-sizing: border-box;
}

.desktop {
  display: block !important;
}
.desktop--flex {
  display: flex !important;
}
.mobile {
  display: none !important;
}
@media only screen and (max-device-width: 768px) {
  .desktop, .desktop--flex {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
.hidden {
  display: none !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  font-family: 'Cabin', sans-serif;
}

strong {
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover, &:focus {
    color: #999;
  }
}

header {
  .header-main {
    height: 100px;
    background-color: #181D20;
    width: 100%;
    display: flex;
    align-items: center;
    .logo-wrapper {
      width: 25%;
      justify-content: center;
      display: flex;
      .logo {
        height: 75px;
      }
    }
    .hamburger {
      position: relative;
      padding-left: 2em;
      font-size: 24px;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #fff;
        border-bottom: 0.125em solid #fff;
      }
    }
    .hamburger-close {
      top: 3px;
      position: relative;
      right: 24px;
      font-size: 24px;
      cursor: pointer;
      width: 25px;
      height: 21px;
      .left-side {
        position: absolute;
        top: 9px;
        width: 25px;
        height: 3px;
        background-color: #fff;
        transform: rotate(45deg);
      }
      .right-side {
        top: 9px;
        position: absolute;
        width: 1em;
        height: 0.125em;
        background-color: #fff;
        transform: rotate(-45deg);
      }
    }
    @media only screen and (max-device-width: 768px) {
      justify-content: space-between;
    }
  }

  nav {
    &.desktop--flex {
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #181D20;
      .nav-item {
        padding: 25px;
      }
    }
    &.nav-dropdown {
      display: flex;
      position: absolute;
      justify-content: space-around;
      height: 30px;
      z-index: 2;
      background-color: #181D20;
      width: 100%;
    }

  }
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.left-image-wrapper {
  background-position: 50% 0;
  background-color: #181D20;
  background-repeat: no-repeat;
  width: 25%;
}
.main-page {
  background-color: #333;
  height: 100%;
  width: 75%;
  padding: 25px 0 0;
  .text-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 25px 50px;
    h1 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      line-height: 18px;
    }
  }
}

footer {
  background-color: #181D20;
  min-height: 225px;
  width: 100%;
  position: relative;
  .logo-footer-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    .logo-footer {
      width: 25px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
.left-image-wrapper {
  display: none;
}
  .main-page {
    width: 100%;
  }
}
