@import "reset";
@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  font-family: 'Cabin', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover, &:focus {
    color: #999;
  }
}

header {
  height: 100px;
  background-color: #181D20;
  width: 100%;
  display: flex;
  align-items: center;
  .logo-wrapper {
    width: 25%;
    justify-content: center;
    display: flex;
    .logo {
      height: 75px;
    }
  }
}

nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181D20;
  .nav-item {
    padding: 25px;
  }
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.left-image-wrapper {
  background-position: 50% 0;
  background-color: #181D20;
  background-repeat: no-repeat;
  width: 25%;
}
.main-page {
  background-color: #333;
  height: 100%;
  width: 75%;
  padding: 25px 0 0;
  .text-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 25px 50px;
    h1 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      line-height: 18px;
    }
  }
}

footer {
  background-color: #181D20;
  min-height: 225px;
  width: 100%;
  position: relative;
  .logo-footer-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    .logo-footer {
      width: 25px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
.left-image-wrapper {
  display: none;
}
  .main-page {
    width: 100%;
  }
}
